*{
  margin: 0;
  padding:0;
}

,main{
  width: 100%
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%, url(https://images.unsplash.com/photo-1583767417405-2b4497a676c5?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrJTIwc2VhfGVufDB8fDB8fHww)) 
backgroud-position:center;
background-size:cover;
height:109vh;
}
